* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header {
    background-image: url(https://images.pexels.com/photos/12217674/pexels-photo-12217674.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    &-content {
      display: flex;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .OV-header-logo {
    width: 200px;
    height: 100px;
  }
  .OV-btn-changes {
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
  }
  .OV-btn-header {
    align-self: center;
  }
  .OV-btn-pinky {
    background-color: #ff1f46;
    border-color: pink;
    transition: all 0.5s ease-in-out;
    padding-left: 40px;
    padding-right: 40px;
    &:hover {
      background-color: #ff6781;
      border-color: pink;
    }
    &2 {
      padding: 10px 60px;
    }
  }
  .card {
    border: 1px solid gray;
    padding: 20px;
    display: flex;
  }
  .OV-section2-img {
    margin: 0 auto;
    width: 70vw;
    height: 50vh;
    object-fit: cover;
    padding: 5px;
  }
  .section2 {
    padding: 150px 0;
  }
  .footer {
    padding-top: 200px;
    background-color: darkblue;
    color: white;
  
    position: relative;
    & > * {
      margin-bottom: 40px;
    }
  }
  .banner-cross {
    color: black;
    padding: 50px;
    border-radius: 25px;
    text-align: center;
    background-color: azure;
    -webkit-box-shadow: 0px 0px 24px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 24px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 24px -7px rgba(66, 68, 90, 1);
  
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container1-footer > * {
    margin-top: 20px;
  }
  